@import url(../index.css);
.SearchBar{
    position: absolute;
    z-index: 1;
    width: 100%;
   
}
.SearchBar .Details .Title{
    font-size: 24px;
    font-weight: 500;
}
.searchinput{
    outline: none;
    padding: 9px 30px;
    width: 63%;
    border: 2px solid var(--greycolor);
    border-radius: 3%;
    font-family:var(--mainfont);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.SearchBar svg {
    color: var(--greycolor);
}
#first-icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 18px;
    background-color: white;
}
#second-icon{
    position: absolute;
    margin-left: -29px;
    margin-top: 10px;
    font-size: 20px;
}
.bullets{
    gap: 14px;
    display: flex;
}
.bullets-options{
    display: flex;
    user-select: none;
    border: 1px solid var(--secondarycolor);
    border-radius: 15%;
    padding: 0px 15px;
    background-color: #f3e1ef;
}
.bullets-options p{
    color: var(--secondarycolor) !important ;
    font-size: 15px;
    font-weight: 500;
}
.bullets-options svg{
    margin-top: 5px;
    margin-left: 4px;
    font-size: 14px;
}

/* Comment  custom styling */
#subject{
    height: 300px;
    width: 1200px;
    padding: 20px;
    outline: none;
}
#subject::placeholder{
    font-size: 16px;
    font-family: var(--mainfont);
    font-weight: 400;
    letter-spacing: 0.3px;

}